.text-theme-primary.custom,
a.text-theme-primary.custom {
    color: var(--theme-color) !important;
}

.btn-theme-primary.custom {
    background: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
    color: var(--font-color) !important;
}

.text-theme-color.custom {
    color: var(--font-color) !important;
}

.bg-theme-primary.custom {
    background: var(--theme-color) !important;
    color: var(--font-color) !important;
}

.badge-theme-primary.custom {
    background: var(--theme-color) !important;
    color: var(--font-color) !important;
}

.btn-outline-theme-primary.custom {
    background: transparent !important;
    border-color: var(--theme-color) !important;
    color: var(--theme-color) !important;
    transition: 0.2s all !important;
}

.btn-outline-theme-secondary.custom {
    background: transparent !important;
    border-color: var(--font-color) !important;
    color: var(--font-color) !important;
    transition: 0.2s all !important;
}

.wallet-card-section.custom::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: "";
    display: block;
    height: 140px;
    background: var(--theme-color) !important;
}

a.custom:hover,
a.custom:active,
a.custom:focus {
    outline: 0 !important;
    color: var(--theme-color) !important;
    text-decoration: none !important;
}

.form-group.basic .form-control.custom:focus,
.form-group.basic .custom-select.custom:focus {
    border-bottom-color: var(--theme-color) !important;
    box-shadow: inset 0 -1px 0 0 var(--theme-color) !important;
}

.form-group .input-wrapper.active .label.custom {
    color: var(--theme-color) !important;
}

.appheaderButton.custom {
    min-width: 36px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--theme-color) !important;
    position: relative;
}

.form-check-checkbox.custom:checked {
    background-color: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
}

.form-check-checkbox[type=checkbox].custom:indeterminate {
    background-color: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
}

.form-check-input.custom:checked~.form-check-label::after {
    background-color: var(--theme-color) !important;
    border-color: var(--theme-color) !important;
}

.form-switch .form-check-input.custom {
    width: 2em;
    margin-left: -2.5em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");
    background-position: left center;
    border-radius: 2em;
    transition: background-position .15s ease-in-out !important;
}

@media (prefers-reduced-motion:reduce) {
    .form-switch .form-check-input.custom {
        transition: none !important;
    }
}

.form-switch .form-check-input.custom:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23bfbfbf'/%3e%3c/svg%3e") !important;
}

.form-switch .form-check-input.custom:checked {
    background-position: right center !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

body.dark-mode .form-switch .form-check-input.custom:checked~.form-check-label::after {
    background: var(--theme-color) !important;
}

.appBottomMenu .item.custom.active::before {
    background: var(--theme-color) !important;
}

.appBottomMenu .item.custom.active .icon,
.appBottomMenu .item.custom.active ion-icon,
.appBottomMenu .item.custom.active strong {
    color: var(--theme-color) !important;
    font-weight: 500 !important;
}
